<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haoqi.magic.business.mapper.CsCarFileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.haoqi.magic.business.model.entity.CsCarFile">
        <id column="id" property="id" />
        <result column="creator" property="creator" />
        <result column="modifier" property="modifier" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="remark" property="remark" />
        <result column="is_deleted" property="isDeleted" />
        <result column="file_name" property="fileName" />
        <result column="file_group" property="fileGroup" />
        <result column="file_path" property="filePath" />
        <result column="icon_file_name" property="iconFileName" />
        <result column="icon_file_group" property="iconFileGroup" />
        <result column="icon_file_path" property="iconFilePath" />
        <result column="file_child_type_code" property="fileChildTypeCode" />
        <result column="file_type" property="fileType" />
        <result column="cs_car_info_id" property="csCarInfoId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS id, creator AS creator, modifier AS modifier, gmt_create AS gmtCreate, gmt_modified AS gmtModified, remark AS remark, is_deleted AS isDeleted, file_name AS fileName, file_group AS fileGroup, file_path AS filePath, icon_file_name AS iconFileName, icon_file_group AS iconFileGroup, icon_file_path AS iconFilePath, file_child_type_code AS fileChildTypeCode, file_type AS fileType, cs_car_info_id AS csCarInfoId
    </sql>

</mapper>
